<!DOCTYPE html>
<html lang="pt-BR">

{% load static %}
<head>
    <title>Telecontrol - Chamados Técnicos</title>
    <link rel="stylesheet" href="{% static 'CSS/chamados.css'%}">
    <link rel="shortcut icon" href="{% static 'media/imgnome.png'%}" type="image/x-icon">
</head>
<body>
    <header>
        <img src="{% static 'media/logosimples.png'%}" alt="Logo Telecontrol">
    </header>
    
    <main>
        <section id="chamados">
            <h2>Chamados Pendentes</h2>
            {% for chamado in chamados %}
                <div class="chamado">
                    <p>{{chamado.empresa}}</p>
                    <p>{{chamado.especialidades}}</p>
                    <p>{{chamado.localizacao}}</p>
                </div>
            {% endfor %}
        </section>


        <div class="map-container">
            <!-- aqui seria o mapa, resolvi não por a imagem q o chiaramonte colocou ja q ja vai mudar msm -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114820.19900879095!2d-50.02528539810855!3d-22.204104381416506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bfd72c62b64a63%3A0xa6490d177f5adcfa!2zTWFyw61saWEsIFNQ!5e1!3m2!1spt-BR!2sbr!4v1748621930881!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
            
        
    </main>

    <footer>
        <h6>
            <p>&copy; 2025 Telecontrol</p>
        </h6>
    </footer>
</body>
</html>