body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(circle, #2b1e4a 0%, #1a0f2b 80%);
    font-family: Arial, sans-serif;
    position: relative;
}

.linha-vertical {
    position: fixed;
    margin-left: -600px;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 10px;
    background: rgba(67, 50, 98, 0.7);
    transform: translateX(-50%);
    border-radius: 3px;
}

.linha-vertical2 {
    position: fixed;
    margin-left: 600px;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 10px;
    background: rgba(67, 50, 98, 0.7);
    transform: translateX(-50%);
    border-radius: 3px;
}

.box_chamadas {
    width: 532px;
    height: 796px;
    background-color: #433262;
    position: relative;
    margin: auto;
    border-radius: 6px;
    text-align: center;
    color: white;
    background: rgba(67, 50, 98, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.chamada{
    margin-top: 30px;
}

label{
    display: block;
    margin-top: 50px;
    margin-right: 320px;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 370px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

input:focus {
    border-color: #200741;
    box-shadow: 0 0 10px rgba(63, 24, 170, 0.5);
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

label[for="nome"]{
    margin-right: 330px;
}

label[for="local"]{
    margin-right: 330px;
}

.solicitar{
    margin-top: 80px;
    width: 400px;
    height: 45px;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #200741;
    font-size: 19px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.icone_tele{
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 40px; /* ajuste conforme necessário */
  cursor: pointer;
}